body, #form1 {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    font-family: 'Oxygen', sans-serif;
}

.container-small {
    margin-left: 0px;
    margin-right: 0px;
}

.padd-right {
    padding-right: 0px;
}

.padd-left {
    padding-left: 0px;
}

.padd-both {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    text-decoration: none !important;
}

.btn-default {
    background-image: none !important;
    text-shadow: none !important;
}

.section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}
/*--------------------Top Sec---------------------*/
.top-bar-sec {
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 4px 0px;
    height: auto;
    width: 100%;
    float: left;
    /*background: #e5ecf1;*/
    background: url(../images/bg3.png) repeat #fff;
    border-top: 2px solid #00913d;
}

.top-bar-contact-sec {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

.top-bar-contact-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

    .top-bar-contact-ul li {
        margin: 0px 0px 0px 0px;
        padding: 0px 30px 0px 0px;
        list-style-type: none;
        display: inline;
    }

        .top-bar-contact-ul li a {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            text-decoration: none;
            font-size: 13px;
            color: #fff;
            line-height: 18px;
            font-family: 'Roboto Condensed', sans-serif;
        }

.search-sec {
    margin: 6px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.search-txtbx {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

.search-btn-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.search-btn {
    margin: 0px 0px 0px 0px;
    background-color: #fcb43f;
    border-color: #fcaa26;
    padding: 7px 23px;
    outline: none;
    border: 0px;
    border-radius: 0px 2px 2px 0px;
}

.search-btn-glafi {
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 18px;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.form-control {
    border-radius: 2px;
}


.social-icon-fixed {
    margin: 0px;
    padding: 1px 7px 5px 8px;
    width: 9%;
    height: 225px;
    height: auto;
    float: left;
    position: fixed;
    top: 30%;
    z-index: 999999;
    /*background-color:#faca3a;*/
}

.social-sec {
    margin: 0px 0px 0px -59px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #faca3a;
}

.social-ul {
    margin: 0px 0px 0px 5px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: right;
    background-color: #faca3a;
}

    .social-ul li {
        margin: 0px;
        padding: 0px 2px;
        list-style-type: none;
        display: inline;
        float: left;
        background-color: #faca3a;
    }

        .social-ul li a {
            margin: 4px 0px;
            padding: 0px 0px;
            text-decoration: none;
            font-size: 14px;
            height: 30px;
            color: #2c3a45;
            text-align: center;
            border-bottom: 1px solid #2c3a45;
            float: left;
            /*border-radius: 50%;*/
            /*-webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;*/
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.social-icon {
    margin: 7px 0px;
    padding: 0px;
    text-decoration: none;
    width: 28px;
}

.social-ul li a:hover {
    color: #2c3a45;
    padding-left: 50px;
    width: 150px;
    border: 1px solid #c5b5b5;
    /*border-radius: 50%;
     -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color:#2c3a45;*/
    color: #fff;
}

.top-link-sec {
    margin: 2px 0px 0px -33px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.top-link-ul {
    margin: 27px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: right;
}

    .top-link-ul li {
        margin: 0px;
        padding: 5px 9px 5px 9px;
        height: auto;
        list-style-type: none;
        display: inline;
    }

        .top-link-ul li a {
            margin: 0px;
            padding: 5px 12px;
            text-decoration: none;
            color: #2c3a45;
            font-size: 12px;
            line-height: 18px;
            border: 1px solid #2c3a45;
            border-radius: 20px;
            transition: all .5s 0s;
            -moz-transition: all .5s 0s;
            -webkit-transition: all .5s 0s;
        }

            .top-link-ul li a:hover {
                color: #2c3a45;
                border: 1px solid #c5b5b5;
            }

.logo1 {
    padding: 4px 0px 1px 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

    .logo1 img {
        margin: 0px auto;
    }

.logo {
    padding: 4px 0px 1px 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}


.paragraph {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}

.para-img {
    margin-left: 10px;
}

.tollfree-sec {
    margin: 0px;
    padding: 9px 0px 1px 34px;
    width: 100%;
    height: auto;
    float: left;
}

.tollfree-icon {
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: auto;
    float: left;
}

    .tollfree-icon i {
        font-size: 15px;
        padding: 0px 0px 0px;
        width: 25px;
        height: 25px;
        line-height: 23px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -khtml-border-radius: 100%;
        border: 2px solid #1e9f56;
        text-align: center;
        color: #00923e;
    }

.tollfree-no {
    margin: 0px;
    padding: 1px 0px 0px 11px;
    width: 89%;
    height: auto;
    float: left;
}

    .tollfree-no h2 {
        color: #00923e;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        width: 100%;
        height: auto;
        float: left;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
    }

    .tollfree-no p {
        color: #e77816;
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
        width: 100%;
        height: auto;
        float: left;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

/*******************Menu sec*******************/

.menu-sec {
    padding: 3px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
    background: #2C3A45;
}

.menu_iner {
    padding: 5px 0px 0px 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    float: left;
}
/*****************Slider sec***********************/
.slider {
    padding: 2px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
    background: #fff;
}

.slider-iner {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

.carousel-control.left {
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(255, 247, 0);
    border: 1px solid #fff700;
    border-radius: 0px;
}

.carousel-indicators .active {
    width: 35px;
    height: 16px;
    margin: 0;
    background-color: #fff700;
}

/*---------------------Content Slider--------------------------*/
.cntnt-slider-wraper {
    margin: 25px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.sevice-ct-h-sec {
    margin: 0px;
    padding: 0px;
}

.sevice-ct-h {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 11px 0px;
    width: 100%;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 25px;
    border-bottom: 1px solid #faca3a;
}
/*** 

====================================================================
	About Section
====================================================================

***/

.about-section {
    position: relative;
    margin: 0px 0px 0px;
    float: left;
    width: 100%;
}

    .about-section .section-title {
        margin-bottom: 40px;
    }

        .about-section .section-title h2:before {
            left: 0;
            margin-left: 0px;
        }

    .about-section .item-holder {
        position: relative;
        margin-bottom: 0px;
    }

        .about-section .item-holder:hover {
        }

    .about-section .image-box img {
        width: 100%;
    }

    .about-section .image-content {
        border-top: 0px solid #faca3a;
    }

        .about-section .image-content h6 {
            line-height: 20px;
            padding-bottom: 10px;
            text-transform: capitalize;
            font-size: 14px;
            color: #343434;
            font-weight: 400;
        }

        .about-section .image-content .link-btn {
            margin-top: 20px;
        }

    .about-section .owl-theme .owl-controls .owl-dots {
        display: none !important;
    }

    .about-section .owl-theme .owl-controls .owl-nav {
        position: absolute;
        top: -60px;
        right: 0px;
    }

        .about-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
            width: 35px;
            height: 35px;
            color: #ffffff;
            font-size: 20px;
            line-height: 24px;
            background: #faca3a;
            border: 1px solid #faca3a;
        }

            .about-section .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
                color: #faca3a;
                border: 1px solid #faca3a;
                background: transparent;
            }
/*** 
/**************************************************************/
/*****************our vision sec***********************/

.box-sec {
    margin: 10px 0px 20px 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
}

.top-box {
    min-height: 240px;
    min-width: 240px;
    height: auto;
    width: 100%;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ef9f0c;
    float: left;
}

    .top-box:hover {
        border: 1px solid #03a9f4;
    }

.box-wrap {
    min-height: 240px;
    min-width: 240px;
    height: auto;
    width: 100%;
    background-color: #326488;
    border-radius: 50%;
    padding: 20px;
    float: left;
}

    .box-wrap h4 {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
        color: #f5ad29;
    }

.txt-p {
    margin: 0px;
    padding: 30px 0px 0px 0px;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #f3f0f0;
    line-height: 25px;
}

.service-top-box1 {
    min-height: 175px;
    min-width: 278px;
    height: auto;
    width: 100%;
    padding: 5px;
    border: 1px solid #e4c385;
    float: left;
    box-shadow: 1px 1px 8px #e0ba47;
}

    .service-top-box1:hover {
        border: 1px solid #7aaec5;
        box-shadow: 1px 1px 8px #94c9e2;
    }

.service-box-wrap1 {
    min-height: 175px;
    min-width: 278px;
    height: auto;
    width: 100%;
    background-color: #f1f1ec;
    padding: 10px;
    float: left;
}

    .service-box-wrap1 h4 {
        width: 100%;
        margin: 0px;
        padding: 8px 0px 0px 0px;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
        color: #f5ad29;
    }


/*****************our service sec***********************/

.service-box-sec {
    margin: 10px 0px 20px 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
}

.service-top-box {
    min-height: 310px;
    min-width: 278px;
    height: auto;
    width: 100%;
    padding: 5px;
    border: 1px solid #e4c385;
    float: left;
    box-shadow: 1px 1px 8px #e0ba47;
}

    .service-top-box:hover {
        border: 1px solid #7aaec5;
        box-shadow: 1px 1px 8px #94c9e2;
    }

.service-box-wrap {
    min-height: 310px;
    min-width: 278px;
    height: auto;
    width: 100%;
    background-color: #f1f1ec;
    padding: 10px;
    float: left;
}

    .service-box-wrap h4 {
        width: 100%;
        margin: 0px;
        padding: 8px 0px 0px 0px;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
        color: #f5ad29;
    }


.service-txt-p {
    margin: 0px;
    padding: 24px 5px 3px 7px;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 15px;
    color: #3a3838;
    line-height: 25px;
}







/*--------------------Planning Sec-----------------------*/
.planning-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.planning-bx-wpr {
    margin: 10px 0px;
    padding: 40px 10px 32px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #f5f5f5;
}

.planning-bx-img-sec {
    margin: 0px auto;
    padding: 60px 0px 25px 0px;
    width: 320px;
    height: auto;
    position: relative;
}

.planning-bx-first-img {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 112px;
    height: auto;
    float: left;
}

.planning-bx-sec-img {
    margin: 0px auto;
    padding: 0px;
    width: 210px;
    height: auto;
    float: left;
    z-index: 9999;
    position: absolute;
    left: 51px;
    top: 0px;
}

.planning-bx-third-img {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 112px;
    height: auto;
    float: right;
}

.planning-bx-h {
    margin: 40px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

.planning-bx-p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #424242;
    margin: 0 0 16px;
}

.planning-bx-read-more {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #03a9f4;
}
/*** 

====================================================================
	Testimonials Section
====================================================================

***/


.testimonial-section {
    position: relative;
    padding: 30px 0px 25px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    float: left;
}

    .testimonial-section:before {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        content: '';
    }

    .testimonial-section .section-title {
        position: relative;
        margin-bottom: 40px;
    }

        .testimonial-section .section-title h2 {
            color: #292929;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
        }

    /*.testimonial-section .section-title p {
            color: #292929;
        }*/



    .testimonial-section .testimonial-carousel {
        position: relative;
        background: rgba(0, 0, 0, 0.77);
        border-radius: 5px;
    }

    .testimonial-section .info-outer {
        position: relative;
        margin-bottom: 25px;
    }

    .testimonial-section .owl-carousel .owl-item img {
        display: inline-block;
    }

    .testimonial-section .slide-item {
        position: relative;
        padding: 25px 35px;
    }

        .testimonial-section .slide-item .text {
            position: relative;
            line-height: 30px;
            margin-top: 35px;
            font-size: 16px;
            color: #c4ccd0;
            font-weight: 400;
            font-style: italic;
            text-align: center;
        }

    .testimonial-section .author-info h4 {
        font-size: 16px;
        color: #faca3a;
        line-height: 24px;
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .testimonial-section .author-info .designation {
        font-size: 13px;
        color: #c4ccd0;
        font-weight: 400;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
    }

    .testimonial-section .owl-theme .owl-controls {
        display: block;
        position: absolute;
        bottom: -70px;
        left: 50%;
        margin-left: -45px;
    }

    .testimonial-section .owl-dots .owl-dot span {
        position: relative;
        height: 8px;
        width: 8px;
        margin: 3px;
        border-radius: 0px;
        background: #c4ccd0;
    }

    .testimonial-section .owl-dots .owl-dot.active span {
        position: relative;
        height: 8px;
        width: 30px;
        background: #faca3a;
    }

    .testimonial-section .owl-nav {
        display: none;
    }

/*** 

/*--------------------footer-----------------------*/
.footer {
    margin: 20px 0px 0px 0px;
    padding: 50px 0px 15px 0px;
    height: auto;
    width: 100%;
    float: left;
    background: #394a56;
}

.footer_main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

.footer_contact {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
}

.footer-h {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    width: auto;
    height: auto;
    float: left;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e8e8e8;
    font-size: 19px;
    line-height: 16px;
    border-bottom: 1px solid #f13f4b;
    letter-spacing: 1px;
}

.footer-p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #aaaaaa;
}

.footer-ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    height: auto;
    width: 100%;
    float: left;
}

    .footer-ul li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .footer-ul li a {
            font-size: 14px;
            float: left;
            padding: 4px 0px;
            width: 100%;
            text-decoration: none;
            line-height: 23px;
            color: #aaaaaa;
        }

            .footer-ul li a:hover {
                color: #ffc9c9;
            }

.foote-news-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.footer-last-sec {
    margin: 0px;
    padding: 6px 0px 2px 0px;
    height: auto;
    width: 100%;
    float: left;
    background: #2c3a45;
}

.footer-last {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
}

.copyright_p {
    width: 100%;
    margin: 8px 0px 5px 0px;
    padding: 0px;
    float: left;
    color: #aaaaaa;
    font-size: 15px;
    line-height: 21px;
}

.designer_link {
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding: 0px;
    float: left;
    color: #aaaaaa;
    font-size: 15px;
    line-height: 21px;
    text-align: right;
}

.facebook-wpr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.counter-wpr {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.welcome-sec {
    margin: 0px;
    padding: 30px 0px 25px;
    width: 100%;
    height: auto;
    float: left;
}

/*..................Back-to-top..............*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background: rgba(250, 202, 58, 0.7);
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 32px;
    right: 30px;
    bottom: 40px;
    padding-top: 0px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 25px;
}

    .scroll-top-wrapper:hover {
        background: #e91919;
    }

    .scroll-top-wrapper.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }

    .scroll-top-wrapper i.fa {
        line-height: inherit;
    }
/*==========================Contact Us=================================*/
.contact-page {
    margin: 20px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.contact-info-wraper {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.contact-info {
    margin: 10px 0px 15px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.contact-box-h {
    margin: 3px 0px 11px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 23px;
    line-height: 24px;
    color: #2f2f2f;
    font-family: 'Crimson Text', serif;
}

.contact-icon-wraper {
    margin: 4px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.contact-icon {
    font-size: 16px;
    border: 1px solid #000;
    padding: 10px 15px;
    height: 38px;
    width: 46px;
    text-align: center;
    color: #a97421;
}

.contact-info-p {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    color: #000;
    font-size: 16px;
}

.contact-txtbox-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
}

.contact-txtbox-p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 20px;
}

.contact-wrapper {
    margin: 10px 0px 20px 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    float: left;
}

.txtbox-wraper {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.map-sec {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.con-btn {
    padding: 4px 40px;
    font-size: 16px;
    background: #fbda75;
    border: 0px;
    -webkit-box-shadow: inset 0 1px 3px #F7994D, 0 1px 0 #F9B986;
    box-shadow: inset 0 3px 3px #F7994D, 0 1px 0 #F9B986;
    background-image: linear-gradient(to bottom, #F7994D 0%, #F9B986 100%);
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 3px;
}
/*-----------------------------------------*/
.book-service-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.book-service-wpr {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.book-service-wpr-p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.book-service-bx-wpr {
    margin: 15px 0px 0px 0px;
    padding: 25px 15px;
    width: 100%;
    height: auto;
    float: left;
    background: rgba(232, 232, 232, 0);
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.book-service-bx-txtbx-sec {
    margin: 8px 0px 8px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.book-service-bx-txtbx-txt {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
}

.book-service-bx-txtbx {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.book-service-bx-btn {
    margin: 0px 0px 0px 0px;
    max-width: 130px;
    width: 100%;
    display: inline-block;
    border: 1px solid #a0a0a0;
    text-align: center;
    float: left;
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
    letter-spacing: 1px;
    font-size: 16px;
    background-color: #fff !important;
    text-transform: capitalize;
    border-radius: 0px;
    text-decoration: none !important;
    position: relative;
    transition: all 400ms linear 0s;
    z-index: 2;
    font-weight: 600;
    line-height: 36px;
    color: #484848;
}

    .book-service-bx-btn:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0);
        background-color: #c3c3c3 !important;
        color: #ffffff;
    }


.service-h {
    margin: 20px 0px 5px 0px;
    padding: 0px 0px 2px 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 17px;
    line-height: 26px;
    color: #394a56 !important;
    font-weight: 600;
    background-position: 0px 9px;
    position: relative;
    text-align: left;
}

    .service-h:after {
        content: "";
        border-bottom: 2px solid #959600;
        height: 2px;
        width: 55px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

.our-team-wpr {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.why-us-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

    .why-us-ul li {
        margin: 0px 0px 0px 0px;
        padding: 4px 0px 4px 25px;
        width: 100%;
        height: auto;
        float: left;
        list-style-type: none;
        text-align: left;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #333;
    }

        .why-us-ul li:before {
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            left: 0px;
            top: 4px;
            font-size: 17px;
            color: #ff0404;
        }




/*-------fixed social icon--------*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 170px;
    z-index: 999999;
}

    #sticky-social a {
        background: #333;
        color: #fff;
        display: block;
        height: 35px;
        font: 16px "Open Sans", sans-serif;
        line-height: 35px;
        position: relative;
        text-align: center;
        width: 35px;
    }

        #sticky-social a span {
            line-height: 35px;
            left: -120px;
            position: absolute;
            text-align: center;
            width: 120px;
        }

        #sticky-social a:hover span {
            left: 100%;
        }

        #sticky-social a[class*="facebook"],
        #sticky-social a[class*="facebook"]:hover,
        #sticky-social a[class*="facebook"] span {
            background: #3b5998;
        }

        #sticky-social a[class*="twitter"],
        #sticky-social a[class*="twitter"]:hover,
        #sticky-social a[class*="twitter"] span {
            background: #00aced;
        }

        #sticky-social a[class*="gplus"],
        #sticky-social a[class*="gplus"]:hover,
        #sticky-social a[class*="gplus"] span {
            background: #dd4b39;
        }

        #sticky-social a[class*="linkedin"],
        #sticky-social a[class*="linkedin"]:hover,
        #sticky-social a[class*="linkedin"] span {
            background: #007bb6;
        }

        #sticky-social a[class*="instagrem"],
        #sticky-social a[class*="instagrem"]:hover,
        #sticky-social a[class*="instagrem"] span {
            background: #517fa4;
        }

        #sticky-social a[class*="stumbleupon"],
        #sticky-social a[class*="stumbleupon"]:hover,
        #sticky-social a[class*="stumbleupon"] span {
            background: #eb4924;
        }

        #sticky-social a[class*="pinterest"],
        #sticky-social a[class*="pinterest"]:hover,
        #sticky-social a[class*="pinterest"] span {
            background: #cc2127;
        }

        #sticky-social a[class*="flickr"],
        #sticky-social a[class*="flickr"]:hover,
        #sticky-social a[class*="flickr"] span {
            background: #ff0084;
        }

        #sticky-social a[class*="tumblr"],
        #sticky-social a[class*="tumblr"]:hover,
        #sticky-social a[class*="tumblr"] span {
            background: #32506d;
        }


/********login page css********/
.login-sec-wrp {
    height: auto;
    width: 100%;
    float: left;
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #fff;
}

.form-horizontal {
    width: 100%;
    height: auto;
    float: left;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 2px 2px 10px #999;
    border-radius: 5px;
    overflow: hidden;
}

    .form-horizontal .heading {
        background-color: #fff;
        padding: 15px;
        margin: 0 0 15px 0;
        width: 100%;
        height: auto;
        float: left;
    }

        .form-horizontal .heading h2 {
            color: #404040;
            font-size: 25px;
            font-weight: 600;
            line-height: 25px;
            width: 100%;
            height: auto;
            float: left;
            text-align: center;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }

        .form-horizontal .heading p {
            color: #404040;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            width: 100%;
            height: auto;
            float: left;
            padding: 10px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            text-align: center;
        }

    .form-horizontal .form-icon {
        width: 100%;
        float: left;
        height: auto;
        color: #F9661A;
        font-size: 80px;
        margin-bottom: 14px;
        text-align: center;
        position: relative;
        animation: animate 3s;
        animation-iteration-count: infinite;
    }

        .form-horizontal .form-icon:after {
            content: '';
            background-color: #909090;
            height: 5px;
            width: 70px;
            margin: 0 auto;
            border-radius: 50%;
            display: block;
        }

    .form-horizontal .form-group {
        margin: 0 20px 30px;
        position: relative;
    }

        .form-horizontal .form-group:nth-last-child(2) {
            margin-bottom: 20px;
        }

        .form-horizontal .form-group:last-child {
            margin: 0;
        }

    .form-horizontal .form-control {
        width: 100%;
        float: left;
        color: #808080;
        background-color: transparent;
        font-size: 18px;
        height: 45px;
        padding: 10px 8px;
        border: 2px solid rgba(0,0,0,0.15);
        box-shadow: 0 0 0 0 transparent;
        display: inline-block;
    }

.form-control::placeholder {
    font-size: 15px;
    color: rgba(0,0,0,0.3);
}

.form-horizontal .form-control:focus {
    color: #F9661A;
    border-color: #F9661A;
    box-shadow: none;
}

.form-horizontal .create_account {
    width: 100%;
    height: auto;
    float: left;
    color: #909090;
    font-size: 17px;
    margin-bottom: 15px;
    display: inline-block;
    transition: all 0.3s;
    text-align: center;
}

    .form-horizontal .create_account:hover {
        color: #111;
    }

.form-horizontal .btn {
    color: #fff;
    background-color: #F9661A;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 13px 90px;
    margin: 0 auto;
    border: none;
    border-top: 3px dashed transparent;
    border-radius: 0;
    display: block;
    transition: all 0.5s;
}

    .form-horizontal .btn:focus,
    .form-horizontal .btn:hover {
        border-top: 3px dashed #fff;
        box-shadow: -1px 1px 15px #505050 inset;
    }

@keyframes animate {
    0% {
        top: 0;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0;
    }
}
/********bottom slider*********/

.down-slider-sec-wrp {
    height: auto;
    width: 100%;
    float: left;
    padding: 30px 0px 40px 0px;
    margin: 0px 0px 0px 0px;
}

.down-slider-sec {
    height: auto;
    width: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.splact-sec-box {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.splact-box-img {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.rewards-slide {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.rewards-imgsec {
    height: 290px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.header-sec-logo11 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.ply-store-app-wpr {
    margin: 0px;
    padding: 9px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

    .ply-store-app-wpr img {
        float: right;
    }
    
.txtblink {
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 1200ms infinite; /* Safari and Chrome */
}

@keyframes blink {
    from {
        color: #000;
    }

    to {
        color: #00923e;
    }
}

@-webkit-keyframes blink {
    from {
        color: #ffd800;
    }

    to {
        color: #0fbcce;
    }
}