



@media only screen and (max-width:800px) {
    .container-small {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .padd-right {
        padding-right: 15px !important;
    }

    .padd-left {
        padding-left: 15px !important;
    }

    .padd-both {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .search-sec {
        margin: 10px 0px 10px 0px !important;
    }

    .menu-sec {
        padding: 0px 0px 0px 0px !important;
    }

    nav {
        float: right !important;
    }

    #sticky-social {
        z-index: 2;
    }

    .menu_iner {
        padding: 0px 0px 0px 0px !important;
    }

    .header-sec {
        background-image: none !important;
        background-color: #f7f9fa !important;
    }

    .menu-bg {
        background-image: none !important;
        background: #5c2461 !important;
    }

    .help-bx-lf-mr-t {
        margin-top: 0px!important;
    }

    .dotn-btn-ul {
        display: none !important;
    }

    .logo-c {
        margin: 0px auto!important;
        padding: 4px 0px 0px 0px !important;
    }

    .logo {
        padding: 23px 0px 0px 0px;
        margin: 0px 0px 0px -18px;
    }

    .tollfree-sec {
        padding: 13px 0px 0px 0px;
    }

    .tollfree-icon i {
        font-size: 20px;
        padding: 7px 0px 0px;
        width: 38px;
        height: 38px;
    }

    .tollfree-no {
        padding: 2px 0px 0px 13px;
    }

        .tollfree-no h2 {
            font-size: 14px;
            line-height: 20px;
        }

        .tollfree-no p {
            font-size: 14px;
            line-height: 20px;
        }

    .footer {
        margin: 0px 0px 0px 0px !important;
        padding: 20px 0px 15px 0px!important;
    }


    .copyright_p {
        text-align: center !important;
    }

    .designer_link {
        text-align: center !important;
    }

    .footer-h {
        margin: 25px 0px 5px 0px !important;
    }

    .top-bar-contact-ul {
        text-align: center!important;
    }

        .top-bar-contact-ul li {
            padding: 0px 10px 0px 0px !important;
        }

    .top-link-ul {
        margin: 5px 0px 5px 0px !important;
        text-align: center !important;
    }

        .top-link-ul li {
            float: initial !important;
        }

    .social-ul {
        margin: 2px 0px 5px 0px !important;
        text-align: center !important;
    }

    .hero h1 {
        font-size: 28px !important;
        line-height: 32px !important;
    }

    .planning-bx-sec-img {
        width: 187px!important;
        left: 41px !important;
        top: 19px !important;
    }

    .planning-bx-img-sec {
        width: 265px!important;
    }

    .testimonial-section .owl-theme .owl-controls {
        left: 39% !important;
    }

    .social-sec {
        margin: 8px 0px 0px 0px !important;
    }

    .cntnt-slider-wraper {
        margin: 0px !important;
    }

    .book-service-bx-txtbx-txt {
        margin: 0px 0px 5px 0px !important;
    }

    .book-service-bx-btn {
        float: none !important;
    }

    .book-service-bx-txtbx-sec {
        margin: 11px 0px 11px 0px !important;
    }

    .top-link-sec {
        margin: 0px 0px 0px 8px!important;
    }

    .top-link-ul li a {
        padding: 3px 8px !important;
    }

    .social-ul li a {
        font-size: 13px !important;
    }

    .service-box-sec {
        margin: 10px 0px !important;
    }

    .service-top-box {
        min-height: 276px !important;
        min-width: 278px !important;
    }

    .service-box-wrap {
        min-height: 276px !important;
        min-width: 278px !important;
    }

        .service-box-wrap h4 {
            font-size: 17px !important;
        }

    .service-txt-p {
        font-size: 14px !important;
        line-height: 23px !important;
        padding: 10px 5px 9px 7px !important;
    }

    .box-sec {
        margin: 10px 0px !important;
    }

    .top-box {
        min-height: 275px !important;
        min-width: 218px !important;
    }

    .box-wrap {
        min-height: 275px !important;
        min-width: 218px !important;
    }

    .social-icon-fixed {
        width: 16%;
    }

    .login-sec-wrp {
        padding: 30px 0px 30px 0px;
    }

    .rewards-imgsec {
        height: auto;
    }

    .down-slider-sec-wrp {
        padding: 0px 0px 25px 0px;
    }

    .ply-store-app-wpr {
        padding: 3px 0px 0px 0px;
    }

        .ply-store-app-wpr img {
            float: inherit;
            margin: 0px auto;
            width: 140px;
        }
}
